/* Will Return to This */

* {
  font-family: 'Crimson Text', serif;
}

body {
  background-color: #ff80ab;
}

h1 {
 background-color: whitesmoke;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.card {
  border-radius: 20px;
}