/* Will Return to This */

* {
  font-family: 'Crimson Text', serif;
}

body {
  background-color: rgba(220, 20, 20, 0.418);
}

h1 {
 background-color: whitesmoke;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}